<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

  <% include ../partials/nav %>

  <div class="jumbotron">
    <h1>Customer <%= customer.name %></h1>
    <p>View customer</p>

    <% include ../partials/notification %>
  </div>

  <div class="container">

      <div class="card float-left ml-5 mb-5" style="width: 20rem;">
        <img class="card-img-top" src="data:image/<%= customer.fileext %>;base64,<%= customer.image %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= customer.name %></h4>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text"><%= customer.address %></p>
          <a href="/update/<%= customer.id %>" class="card-link btn btn-warning">Edit</a>
          <form style="display: inline;" method="POST" action="/delete/<%= customer.id %>">
            <button type="submit" class="card-link btn btn-danger">Delete</a>
          </form>
        </div>
      </div>

  </div>

  <% include ../partials/footer %>

  </body>
</html>
